.row {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 25%;
}
.categories {
    width: 90%;
    margin: 10px auto;
}

section {
    flex: 74%;
}
.Sinput {
    width: 85%;
    margin: 20px auto;
}
.Sinput input {
height: 40px;

}

.Sinput button {
    height: 41px;
    border: none;
    width: 14%;
}

.card-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.imgProduct {
    height: 250px;
    padding: 20px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    margin: auto;
    
}

.imgProduct img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.product {
    border: 1px solid rgba(0, 0, 0, .2);
    margin: 10px;
    border-radius: 7px;
    width: 320px;
   
}
.product h5 {
    padding: 27px;
    font-weight: bold;
    font-size: 18px;
}

.price {
    text-align: left;
    margin: 5px;
    margin-bottom: 20px;
}
.price h5 {
    padding: 5px;
    display: inline-block;
}
.price p {
    margin: 5px;
    position: relative;
    top: 20px;
}
.price button {
    display: inline-block;
    margin-left: 130px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #f85555;
    border: none;
    position: relative;
    left: 20px;
}
.price button i {
    color: white;
    font-size: 15px;
}

