header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f85555;
    min-height: 65px;
}
 header a {
    text-decoration: none;
}

a h3 {
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 28px;
    -webkit-text-stroke: .4px gray;
}

nav a {
    padding: 15px 20px;
}

a i {
    font-size: 20px;
    color: white;
}

nav button {
    background-color: transparent;
    border: none;
}

@media (min-width:992px) {
    a i {
        font-size: 18px;
    }

    nav a {
        padding: 15px 86px;
    }
}